.sidebar-sticky {
  padding: 20px;
  background-color: lightblue;
  height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Remove the default underline style for links */
.nav-link {
  text-decoration: none;
  color: #333;
}

/* Add hover effect */
.nav-link:hover {
  background-color: #007bff;
  color: #fff;
}

/* Style for the active link */
.nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Adjust column widths as needed */
  grid-template-rows: auto; /* Automatically adjust row height */
  gap: 20px; /* Adjust the gap between grid items */
  padding: 20px;
}
img {
  max-width: 100%; /* Make the image fill its grid cell horizontally */
  height: auto; /* Maintain the aspect ratio of the image */
  border-radius: 8px; /* Add rounded corners if desired */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */

  grid-row: 4; /* Adjust the row number to move the image downwards */
}
