/* .gradient-background{
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .gradient-background:hover, .gradient-background:focus{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 30%,
      #44107a 29%,
      #ff1361 100%,
      #fff800 67%
    );
    padding: 10px;
    padding-left: 18px;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 20px;
} */
.gradient-background {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textclip 2s infinite;
  transition: background-color 0.3s ease; /* Added transition property for smoother effect */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.gradient-background:hover {
  background-color: #e6e6e6; /* Change the background color on hover */
}

.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: lightblue;
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: rgb(40, 196, 248);
  border: 2px solid rgb(40, 196, 248);
  box-shadow: 5px 5px 0px rgb(40, 196, 248);
}

.comic-button:active {
  background-color: rgb(40, 196, 248);
  box-shadow: none;
  transform: translateY(4px);
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  /* background-size: auto auto; */
  /* background-clip: border-box; */
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
