.hero__subtitle img{
    width:2.3rem;
    height: 2.3rem;
}

.hero__content h1{
    font-size:2.8rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.hero__content h1 .highlight{
    color:var(--secondary-color);
}

.hero__content p{
    font-size:1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img, .hero__img-box video{
    width:100%;
    height: 350px;
    /* background-repeat: 20px; */
    border: 1px solid var(--secondary-color);
    object-fit: cover;
    border-radius: 20px;
}

.hero__content{
    padding-top: 3.5rem;
}

.hero__img-box{
    padding-top: 2rem;
}

.services__subtitle{
    font-style: 2.5rem;
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--subtitle-font-name);
}

.services__title{
    font-style: 2.5rem;
    font-weight: 500;
}

.featured__tour-titles{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience__content p{
    font-size: 1.1rem;
    color: var(--text-color)
}

.counter__wrapper{
    margin-top: 2.5rem;
}

.counter__box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10 5 10 5;
}

.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience__img img{
    width: 90%;
}

.gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
}

.image{
    position: absolute;
    width: 460px;
    float: right;
    top: 100px;

}

.brand-bubbles{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 50px;
    border: 2px solid #000;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 0px #000;
    padding: 10px;
    /* animation: blow 2s alternate-reverse; */
    animation:  1s ease-out 0s 1 bubble;

}

@keyframes bubble{
    0% {
        transform: translateX(-20%) translateY(-20%)
    }
    100% {
        transform: translateX(0) translateY(0)
    }
}




.image-background{
    height: 600px;
    margin: 50px;
    margin-bottom: 0;
    /* top :5 */
    /* float: right; */
    /* position: absolute; */
    background-color: lightblue;
    width: 80%;
    border: 2px solid #000;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 0px #000;
}

.primary{
    color:rgb(245, 223, 255);
    /* text-decoration: aqua; */
    -webkit-text-stroke: 2px #000;
    /* border: 1px; */
    /* border-color: black; */
}

.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color:lightblue;
    border: 2px solid #000;
    /* border-radius: 10px; */
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #fff;
    color: lightblue;
    border: 2px solid lightblue;
    box-shadow: 5px 5px 0px lightblue;
  }
  
  .comic-button:active {
    background-color:lightblue;
    box-shadow: none;
    transform: translateY(4px);
  }

  .search-wrapper{
    margin-top: 100px;
    width: 100%;
  }
  