.search-wrapper{
    padding: 3px;
    width: 100%;
    margin-top: 0;
    align-items: center;
}
form{
    /* width: 80vw; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .form-wrapper{
    /* width: 80vw; */
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .small-input{
    width: 100%;
    height: 50px;
    padding: 10px;
    /* transition: .2s linear; */
    /* border: 2.5px solid black; */
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-decoration: none;
    width: 100%;
    background-color: white;
    outline: none;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    text-align: start;
    /* margin: 10px; */
    /* border-bottom: none; */

  }

  .large-input{
    text-align: start;
    /* margin: 10px; */

    width: 100%;
    height: 300px;
    padding: 10px;
    /* transition: .2s linear; */
    /* border: 2.5px solid black; */
    font-size: 14px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-decoration: none;
    width: 100%;
    background-color: white;
    outline: none;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    /* border-bottom: none; */
  }

  /* .gradient-background{
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* .gradient-background:hover, .gradient-background:focus{
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 30%,
      #44107a 29%,
      #ff1361 100%,
      #fff800 67%
    );
    padding: 10px;
    padding-left: 18px;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 20px;
} */

.gradient-background{
    font-size: 20px;
      font-weight: bold;
  }
  
  @keyframes textclip {
      to {
        background-position: 200% center;
        /* font-size: 21px; */
      }
    }
  
    .comic-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: #000;
      background-color:lightblue;
      border: 2px solid #000;
      /* border-radius: 10px; */
      box-shadow: 5px 5px 0px #000;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    
    .comic-button:hover {
      background-color: #fff;
      color: rgb(40, 196, 248);
      border: 2px solid rgb(40, 196, 248);
      box-shadow: 5px 5px 0px rgb(40, 196, 248);
    }
    
    .comic-button:active {
      background-color:rgb(40, 196, 248);
      box-shadow: none;
      transform: translateY(4px);
    }
    